# You may need to append "?pgbouncer=true&connection_limit=1".
DATABASE_URL=

API_HOST=http://localhost:3000
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_STATIC_FILE_DOMAIN=https://d1d1e1qa6dh1n.cloudfront.net
NEXT_PUBLIC_GA_ID=